amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.22
celery==3.1.19
dj-config-url==0.1.1
Django==1.9.1
django-celery==3.1.17
django-floppyforms==1.6.0
django-form-utils==1.0.3
django-haystack==2.4.1
django-widget-tweaks==1.4.1
elasticsearch==2.2.0
kombu==3.0.33
Pillow==3.1.0
pytz==2015.7
urllib3==1.14
gunicorn
psycopg2
redis