.cover img {

    max-height: 200px;

    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .info {
        text-align: center;
    }
}

.bookview {
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 4px;
}

.bookview:hover {
    /*text-shadow: -1px 1px 15px #dcb128, 1px -1px 15px #dcb128;*/
    box-shadow: 0 0 20px #101010;
}