{% extends "list/base.html" %}

{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "list/css/detail.css" %}">
{% endblock %}

{% block extra_js %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.js"></script>
    <script type="text/javascript" src="{% static "list/js/bootstrap-confirmation.js" %}"></script>
    <script>
        function deletion() {
            $("#deleteForm").submit()
        }
    </script>
{% endblock %}

{% block body %}
{% include "list/util/breadcrumbs.html" %}
<div class="row detail">
    <div class="col-sm-push-2 col-sm-8">
        {% block detail_content %}
        {% endblock %}
    </div>
    {% if object %}
    <div class="col-sm-2 col-sm-push-2">
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-default" href="
                    {% block edit_url %}
                    {% endblock %}
                " role="button">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-default
                    {% if required %}
                        disabled
                    {% endif %}
                " id="delete-button" data-toggle="confirmation"
                   data-placement="left"
                   data-on-confirm="deletion"
                   data-btn-ok-class="btn-sm btn-primary"
                   data-btn-cancel-class="btn-sm btn-default"
                   href="" role="button">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
                <form method="POST" action="delete" id="deleteForm">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block js_initializers %}
    $('[data-toggle="confirmation"]').confirmation();
{% endblock %}