{% extends "list/generic_edit.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "list/js/bootstrap-filestyle.js" %}"> </script>
{% endblock %}

{% block form_title %}
    {{ title }}
{% endblock %}

{% block form_content %}
    <div class="row">
        <div class="col-sm-6 col-sm-push-3">
            {% for field in import_form %}
                <div class="form-group">
                    <div class="col-sm-12">
                        {% render_field field class+="form-control" placeholder=field.label %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js_initializers %}
    $(":file").filestyle({
        icon: false,
        buttonText: "Choose",
        placeholder: "Import file"
    });
{% endblock %}