{% extends "list/detail.html" %}

{% load paginator_tags %}

{% block detail_content %}
{% if object %}
    <div class="row">
        <div class="singleinfo col-sm-12">
            <h1>
                {{ object.detail_name }}
            </h1>
            <p>
                <h3>Books:</h3>
                <ul>
                    {% for book in books %}
                        <li>
                            <a href="{% url "book_detail" pk=book.pk %}">
                                {% for author in book.author.all %}
                                    {{ author.short_name }}{% include "list/util/comma.html" %}
                                {% endfor %}
                                {{ book.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </p>
            <div class="row">
                {% get_pagination 2 2 %}
            </div>
        </div>
    </div>
{% else %}
    <h1>
        Sorry, there is no such {{ object_type }}!
    </h1>
{% endif %}
{% endblock %}

{% block edit_url %}
    {% url object.edit_url_name pk=object.pk %}
{% endblock %}

